#nav{
	background-color: brown;
	overflow: hidden;
}
#btn-entrar{
	width: 100px; 
	height: 50px;
	background-color: brown;
	text-align: center
}
#btn-cadastro{
	width: 100px; 
	height: 50px;
	background-color: brown;
	text-align: center
}
.container{
	margin-top: 50px;
}