.nav-link,.navbar-brand{
	color:black;
}

#nav{
	background-color: brown;
}
#btn-entrar{
	width: 100px; 
	height: 50px;
	background-color: brown;
}
#btn-cadastro{
	width: 100px; 
	height: 50px;
	background-color: brown;
}

